<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/mSOUND_logo.svg" | prepend: site.baseurl | replace: '//', '/' }}" alt="mSOUND Logo">
	  <h1>mSOUND</h1>
	</a>
</header>

 <style>
  table{
    border-left:1px solid #2f7ed8; border-top:1px dashed #ccb7b7;
    width: 100%;
    word-wrap:break-word; word-break:break-all;
  }
  table th{
  text-align:center; bgcolor:#BCDBB1;
  }
  table th,td{
    border-right:1px solid #2f7ed8; border-bottom:1px dashed #ccb7b7;
  }
</style>

 <style>
  codecomment{
	  font-size:14px;
	  font-color: #92b0d3;
	  
  }


</style>
